In [1]:
import datetime
from datetime import date

In [2]:
import sqlalchemy

In [3]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine

In [4]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey, Sequence, Date, DateTime, CheckConstraint
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import mapper

In [5]:
import names
import string
import random

In [6]:
import pymysql
pymysql.install_as_MySQLdb()

In [7]:
Base = declarative_base()

In [8]:
engine1 = create_engine('postgresql://postgres:postgres@localhost:5432/fly_db')
engine2 = create_engine('mysql://root:root@localhost:3306/hotel_db')
engine3 = create_engine('postgresql://postgres:postgres@localhost:5432/account_db')

In [9]:
db1_metadata = MetaData()
fly = Table('fly', db1_metadata,
    Column('booking_ID', Integer, Sequence('user_id_seq'), primary_key=True),
    Column('client_Name', String(50)),
    Column('fly_Number', String(16)),
    Column('frm', String(8)),
    Column('to', String(8)),
    Column('date', Date)
 )

In [10]:
class Fly(object):
    pass

In [11]:
mapper(Fly, fly)

In [12]:
db1_metadata.create_all(engine1)

In [13]:
db2_metadata = MetaData()
hotel = Table('hotel', db2_metadata,
    Column('booking_ID', Integer, Sequence('user_id_seq'), primary_key=True),
    Column('client_Name', String(50)),
    Column('hotel_Name', String(16)),
    Column('arrival', Date),
    Column('departure', Date)       
 )

In [14]:
class Hotel(object):
    pass

In [15]:
mapper(Hotel, hotel)

In [16]:
db2_metadata.create_all(engine2)

In [17]:
db3_metadata = MetaData(
    naming_convention={"ck": "ck_%(table_name)s_%(constraint_name)s"}
)
account = Table('account', db3_metadata,
    Column('account_ID', Integer, Sequence('user_id_seq'), primary_key=True),
    Column('client_Name', String(50)),
    Column('amount', Integer),      
    CheckConstraint('amount > 0', name='amount_gt_0')
 )

In [18]:
class Account(object):
    pass

In [19]:
mapper(Account, account)

In [20]:
db3_metadata.create_all(engine3)

In [21]:
client_name = 'John Smith'
amount = 700

In [22]:
ins_account = account.insert().values(client_Name=client_name, amount=amount)

In [23]:
conn_db3 = engine3.connect()

In [24]:
result = conn_db3.execute(ins_account)

In [25]:
account_id = result.inserted_primary_key[0]

In [26]:
account_id

1

In [27]:
# let's simulate first booking:

In [28]:
def getRandomFlyNumber(sizeAscii=3, sizeDigits=4,chars=string.ascii_uppercase, digits=string.digits):
    return ''.join(random.choice(chars) for x in range(sizeAscii)) + '-' + ''.join(random.choice(digits) for x in range(sizeDigits))

In [29]:
def getRandomAirport(sizeAscii=3,chars=string.ascii_uppercase):
    return ''.join(random.choice(chars) for x in range(sizeAscii))

In [30]:
def getRandomeDate():
    start_date = date.today().replace(day=1, month=1).toordinal()
    end_date = date.today().toordinal()
    random_day = date.fromordinal(random.randint(start_date, end_date))
    return random_day

In [31]:
def booking(accountID, flyNumber, from_, to, date, hotel, arrival, departure, total):
    Session = sessionmaker(twophase=True)
    Session.configure(binds={Fly:engine1, Hotel:engine2, Account:engine3})
    session = Session()
    
    # get client detail
    client = session.query(Account).get(accountID)
    
    # make objects
    client_hotel = Hotel()
    client_hotel.client_Name=client.client_Name
    client_hotel.hotel_Name=hotel
    client_hotel.arrival=arrival
    client_hotel.departure=departure
    
    client_fly = Fly()
    client_fly.client_Name = client.client_Name
    client_fly.fly_Number = flyNumber
    client_fly.frm = from_
    client_fly.to = to
    client_fly.date = date
    
    try:
        # make transaction
        session.add(client_hotel)
        session.add(client_fly)
        session.query(Account).filter_by(account_ID=account_id).update({Account.amount: Account.amount - total})
    except BaseException  as e:
        print "DatabaseError: " + str(e)  

    try:
        # commit
        session.commit()
    except BaseException  as e:
        #print "DatabaseError({0}): {1}".format(e.errno, e.strerror)
        print "DatabaseError: " + str(e)

In [32]:
# session to check amount only
Session = sessionmaker()
Session.configure(binds={Account:engine3})
session = Session()

In [33]:
ticket_price = 250

In [34]:
# check initial amount:
amount = session.query(Account).get(account_id).amount
print "Initial amount: " + str(amount)

Initial amount: 700

In [35]:
# initialize first booking
booking(accountID=account_id, flyNumber=getRandomFlyNumber(), from_=getRandomAirport(), to=getRandomAirport(), date=getRandomeDate(), hotel=names.get_first_name(), arrival=getRandomeDate(), departure=getRandomeDate(), total = ticket_price)

In [36]:
# check amount after booking:
amount = session.query(Account).get(account_id).amount
print "amount after first booking: " + str(amount)

amount after first booking: 450

In [37]:
booking(accountID=account_id, flyNumber=getRandomFlyNumber(), from_=getRandomAirport(), to=getRandomAirport(), date=getRandomeDate(), hotel=names.get_first_name(), arrival=getRandomeDate(), departure=getRandomeDate(), total = ticket_price)

In [38]:
# check amount after booking:
amount = session.query(Account).get(account_id).amount
print "amount after second booking: " + str(amount)

amount after second booking: 200

In [39]:
booking(accountID=account_id, flyNumber=getRandomFlyNumber(), from_=getRandomAirport(), to=getRandomAirport(), date=getRandomeDate(), hotel=names.get_first_name(), arrival=getRandomeDate(), departure=getRandomeDate(), total = ticket_price)

DatabaseError: (psycopg2.IntegrityError) new row for relation "account" violates check constraint "ck_account_amount_gt_0"
DETAIL:  Failing row contains (1, John Smith, -50).
 [SQL: 'UPDATE account SET amount=(account.amount - %(amount_1)s) WHERE account."account_ID" = %(account_ID_1)s'] [parameters: {'amount_1': 250, 'account_ID_1': 1}]
DatabaseError: (psycopg2.ProgrammingError) prepared transaction with identifier "_sa_5da93d6c5fd66e8af02e49a3787b6246" does not exist
 [SQL: "COMMIT PREPARED '_sa_5da93d6c5fd66e8af02e49a3787b6246'"]

In [40]:
# check amount after booking:
amount = session.query(Account).get(account_id).amount
print "amount after third booking: " + str(amount)

amount after third booking: 200